* {
    /*box-sizing: border-box;*/
}

body {
	margin : 0 ;
 }

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    border-bottom: 3px solid gray;
}

.icon {
    font-size: 50px;
}

.main {
    background-image: url("IMAGENES/fondo1.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_left {
    color: white;
    font-family: "Century";
    text-align: center;
}

.main_left button {
    background: black;
    padding: 9px 40px;
    transition: all 500ms;
    color: white;
    font-family: "Arial";
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}

.main_left button:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.main_rigth {
    background: white;
    width: 350px;
    height: 200px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_rigth form {
    width: 80%;
}

.main_rigth button{
    background: black;
    padding: 12px 40px;
    transition: all 500ms;
    color: white;
    font-family: "Arial";
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

.main_rigth button:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.main_rigth h5 {
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}

.iconos {
    font-size: 15px !important;
}

.email {
    margin: 18px 0;
    border-bottom: 1px solid black;
}

.email input {
    border: 0;
    outline: 0;
}

.password {
    margin: 18px 0;
    border-bottom: 1px solid black;
}

.password input {
    border: 0;
    outline: 0;
}

.input {
    height: 22px;
}

.socials ul {
    list-style: none;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    padding-bottom: 50px;
}

.socials ul li {
    margin-left: 30px;
    font-size: 30px;
    cursor: pointer;
}

.description {
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.desc1 {
    display: flex;
    font-family: "Century";
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.letras1 {
    margin-left: 20px;
}

.desc1 h2 {
    font-size: 45px;
}

.desc1 p {
    font-size: 25px;
}

.desc1 small {
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .main_left {
        width: 50%;
    }

    .desc1 h2 {
        font-size: 30px;
    }

    .desc1 p {
        font-size: 20px;
    }

    .desc1 small {
        font-size: 16px;
    }
}
